---
language: python
python:
  - "2.7"
  - "3.6"

install:
  - "pip install -q -r requirements.txt"
  - "pip install -q -r test-requirements.txt"


before_script: "flake8 --ignore=E402,W605 --max-line-length=100  --show-source --count ."

script:
  - "python run_tests.py"