{% extends "base.html" %}
{% block body %}

    <!-- {{ credential_file }} -->

    {% if error %}<p class="error"><strong>Error:</strong> {{ error }}{% endif %}

<div class="row-fluid">
    <div class="span12">
        <h4>Select an AWS account</h4>
        <div id="aws-accounts">
            {% if accounts|length == 0 %}
                <p>No AWS accounts found.</p>
            {% else %}
                <p>Please select an AWS account to create cluster.</p>
                <ul>
                  {% for account in accounts %}
                  <li><a href="/g/{{account}}">{{account}}</a></li>
                  {% endfor %}
                </ul>
            {% endif %}
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#add-aws">
                Add a new AWS account
            </button>
        </div>

        <div class="modal fade" id="add-aws" tabindex="-1" role="dialog" aria-labelledby="add-aws-title">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="add-aws-title">Add a new AWS account</h4>
                    </div>
                    <div class="modal-body">
                        <form class="form-add-account" action="" method="POST">
                            <label>Display Name</label>
                            <input id="name" name="name" class="form-control"
                                   placeholder="A name that will show in the dropdown menu above"
                                   required>

                            <label>Your Email Address</label>
                            <input id="email_address" name="email_address" class="form-control"
                                   placeholder="Enter your @eng.ucsd.edu email address"
                                   required>

                            <label>AWS Access Key ID</label>
                            <input id="access_key_id" class="form-control"
                                   name="access_key_id" required>

                            <label>AWS Secret Access Key</label>
                            <input id="secret_access_key" class="form-control"
                                   name="secret_access_key" required>

                            <br/>
                            <div id="myButtons" class="btn-group" data-toggle="buttons">
                                <label class="btn btn-primary active">
                                    <input id="ssh_key" type="radio" class="form-control"
                                           name="ssh_key" value="generate" checked> Generate a New SSH Key
                                </label>
                                <label class="btn btn-primary">
                                    <input id="ssh_key" type="radio" class="form-control"
                                           name="ssh_key" value="existing"> Use an Existing SSH Key
                                </label>
                            </div>

                            <br/>
                            <div id="existing-key" style="display: none">
                                <br/>
                                <label>Key Name</label>
                                <input id="key_name" class="form-control" name="key_name">

                                <label>Key Identity File Path</label>
                                <input id="identity_file" class="form-control"
                                       name="identity_file">
                            </div>

                            <button class="btn btn-primary btn-block" type="submit">Add</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}

{% block js %}
<script type="text/javascript" language="javascript">
    $("input:radio[name=ssh_key]").change(function() {
        var value = $(this).val();

        if (value == "existing") {
            $("#existing-key").css("display", "inline");
            $("#key_name").attr("required", "true");
            $("#identity_file").attr("required", "true");
        } else {
            $("#existing-key").css("display", "none");
            $("#key_name").removeAttr("required");
            $("#identity_file").removeAttr("required");
        }
    });
</script>
{% endblock %}
